{{!-- <div id="form">
  <h2>Log in</h2>
  <form action="/auth/login" method="post">
 
    <label> Username
      <input type="text" name="username" placeholder="gamer" value="Almati" />
    </label>
 
    <label> Password
      <input type="password" name="password" placeholder="********" value="ironhack" />
    </label>
 
    <button type="submit">Log in</button> --}}

    {{!-- <div class="parent">
      <img class="image1" src="/images/paradoxOne.png" />
    </div> --}}

    <form class="form-login">
        <h3>Login</h3>

        <form action="/auth/login" method="post">

        <label class="label-login" for="username">Username</label>
        <input class="input-login" type="text" placeholder="Username" id="username" value="Anakin" name="username">

        <label class="label-login" for="password">Password</label>
        <input class="input-login" type="password" placeholder="Password" id="password" value="skywalker" name="password">

        <button class="login-btn" type="submit">Log In</button>
    </form>
 
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>