{{!-- <div id="form">
  <h2>Log in</h2>
  <form action="/auth/login" method="post">
 
    <label> Username
      <input type="text" name="username" placeholder="gamer" value="Almati" />
    </label>
 
    <label> Password
      <input type="password" name="password" placeholder="********" value="ironhack" />
    </label>
 
    <button type="submit">Log in</button> --}}

    <form class="form-login" action="#" method="post">
        <h3>Login</h3>

        <form action="/auth/login" method="post">

        <label class="label-login" for="username">Username</label>
        <input class="input-login" type="text" placeholder="Username" id="username" name="username" value="Anakin">

        <label class="label-login" for="password">Password</label>
        <input class="input-login" type="password" placeholder="Password" id="password" name="password" value="skywalker">

        <button type='submit' class="login-btn">Log In</button>
    </form>
 
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>