<div id="form">
  <h2>Sign up</h2>
  <form action="/auth/signup" method="post">

    <label> Username
      <input type="text" name="username" placeholder="gamer" value="Al" />
    </label>

     <label> Email
      <input type="text" name="email" placeholder="gamer" value="al@gmail.com"/>
    </label>
 
    <label> Password
      <input type="password" name="password" placeholder="********" value="123456" />
    </label>
 
    <button type="submit">Create an account</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
 
  </form>
</div>