<div>
  <form class="form-signup" action="#" method="post">
  <h3>Signup</h3>

  <form action="/auth/signup" method="post">

    <label class="label-signup" for="username">Username</label>
    <input class="input-signup" type="text" placeholder="Username" id="username" name="username">

    <label class="label-signup" for="email">Email</label>
    <input class="input-signup" type="text" placeholder="Email" id="email" name="email">

    <label class="label-signup" for="password">Password</label>
    <input class="input-signup" type="password" placeholder="Password" id="password" name="password">

    <label class="color-label" for="color"><p class="player-color">Player Color</p>
      <select id="color" name="color">
      <option value="Red">Red</option>
      <option value="black">Black</option>
      <option value="silver">Silver</option>
      <option value="gray">Gray</option>
      <option value="white">White</option>
      <option value="brown">Brown</option>
      <option value="purple">Purple</option>
      <option value="fuchsia">Fuchsia</option>
      <option value="green">Green</option>
      <option value="lime">Lime</option>
      <option value="olive">Olive</option>
      <option value="yellow">Yellow</option>
      <option value="navy">Navy</option>
      <option value="blue">Blue</option>
      <option value="teal">Teal</option>
    </select></label>
   
  <button type="submit" class="signup-btn">Create an account</button>

    <div class="parent">
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
</div>
  </form> 
</div>
