{{!-- <div id="form">
  <h2>Sign up</h2>
  <form action="/auth/signup" method="post">

    <label> Username
      <input type="text" name="username" placeholder="username" />
    </label>

     <label> Email
      <input type="text" name="email" placeholder="username@mail.com" />
    </label>
 
    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>
 
    <button type="submit">Create an account</button> --}}

    <form class="form-signup" action="#" method="post">
        <h3>Signup</h3>

        <form action="/auth/signup" method="post">

        <label class="label-signup" for="username">Username</label>
        <input class="input-signup" type="text" placeholder="Username" id="username" name="username">

        <label class="label-signup" for="email">Email</label>
        <input class="input-signup" type="text" placeholder="Email" id="email" name="email">

        <label class="label-signup" for="password">Password</label>
        <input class="input-signup" type="password" placeholder="Password" id="password" name="password">

        <button type="submit" class="signup-btn">Create an account</button>
    </form>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
 
  </form>
</div>