<div id="controler-setup" class="modal">
			<h2>Controller Assigns</h2>
			<div id="controller-container">
				<div id="player-liste"></div>
				<div id="controller-liste"></div>
			</div>
			<button id="btn-close">Close</button>
		</div>