<h1>Map editor setup</h1>
<h2>Pick your map size (around 20?)</h2>
<form action='/editor' method='post'>
  <div>
    <label for='width'>Width</label>
    <input type='number' name='width' id='width' />
  </div>
  <div>
    <label for='height'>Height</label>
    <input type='number' name='height' id='height' />
  </div>
  <input type='submit' value='Create' />
</form>