
<form class="form-login" action='/editor' method='post'>
<h3>Map Size</h3>
    <label class="label-login" for='width'>Width</label>
    <input class="input-login" type='number' name='width' id='width' />

    <label class="label-login" for='height'>Height</label>
    <input class="input-login" type='number' name='height' id='height' />

  <input class="login-btn" type='submit' value='Create' />
</form>
