
<div class="gamePage">
  <div class="game-groupe-top">
    <button id="start" {{#with id}}value="{{this}}"{{/with}}>START</button>
    <div id="clock"> 00:00:00 </div>
    <div id="clock-end-game"> 00:00:00 </div>
    <button id="end">END</button>
  </div>
    <div id="game"></div>
    {{!-- <div id="gameBig"></div> --}}
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close-modal">&times;</span>
    <h2>GAME OVER</h2>
    <div class="play-game-over">
    <button><a class="white" onClick="window.location.reload();">PLAY AGAIN</a></button>
    </div>
    {{!-- <h4>RANKING SO FAR</h4>
    <ol id="ranking-list">
    </ol> --}}
  </div>
</div>


<script>
window.addEventListener('load', function () {
  document.querySelector('#title-size').style.fontSize = "18px"
  document.querySelector('#title-size').style.top = "2.6%"
  document.querySelector('main').style.marginTop = "0px"
  //document.querySelector('#i').innerHTML = ""
});
</script>
<script src="/js/Modal.js"></script>