<h1>The Game!</h1>
<div id="clock"> 00:00:00 </div>
<button id="start">start</button>
<button id="end">end</button>
<div id="game"></div>
<div id="gameBig"></div>

<script src="/js/keyboard.js"></script>
<script src="/js/APIHandler.class.js"></script>
<script src="/js/Chronometer.class.js"></script>
<script src="/js/Bullet.class.js"></script>
<script src="/js/Player.class.js"></script>
<script src="/js/GameClass.js"></script>
<script src="/js/app.front.js"></script>