
<div class="gamePage">
  <div class="game-groupe-top">
    <button id="start" {{#with id}}value="{{this}}"{{/with}}>start</button>
    <div id="clock"> 00:00:00 </div>
    <div id="clock-end-game"> 00:00:00 </div>
    <button id="end">end</button>
  </div>
    <div id="game"></div>
    {{!-- <div id="gameBig"></div> --}}
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>GAME OVER</h2>
    <h4>Ranking so far:</h4>
    <ol id="ranking-list">
    </ol>
  </div>
</div>

<script src="/js/Modal.js"></script>