<h1>HALL OF FAME</h1>
<form class="hof" action="/user/:id" method = "get">
    <label for = "rank">Rank</label>
    <input id = "rank" name = "rank" type="number">

    <label for = "username">Username</label>
    <input id = "username" name = "username" type="text">

    <label for = "time">Time</label>
    <input id = "time" name = "time" type="number">
</form>