<h1>WELCOME</h1>
<div class="container">
    <p class="parag"> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Aut, repellat dignissimos pariatur eveniet reprehenderit ad deserunt, nostrum aliquam, accusamus placeat laudantium sunt deleniti totam sit! 
    Libero nihil ad veniam praesentium?Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eum mollitia magni provident? 
    Soluta unde dolore labore cupiditate blanditiis vero tenetur non natus, doloremque quos. Quas perspiciatis nostrum sed fugiat?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur repellat quibusdam expedita provident cupiditate beatae dignissimos,
    delectus et at accusamus quos adipisci. Ipsam ratione cumque dicta iste? Corporis, enim iste.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, accusantium fuga laborum exercitationem explicabo perferendis sit ullam
    architecto reprehenderit itaque impedit a, necessitatibus voluptatem praesentium ab! Consequuntur saepe rerum hic!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, amet autem suscipit aperiam placeat, accusamus nam quam eligendi debitis nisi 
    similique blanditiis! Aliquam suscipit dolores laborum, accusantium odio vel natus?
    </p>
</div>
