<h1>INSTRUCTIONS</h1>
<div class="container">
    <p class="parag"> The Goal of the Game is very simple: 
        Get from the yellow zone to the green zone by moving through the maze.
        The trick is that you have be the able to stay there. In fact every previously played games 
        by yourself and other players will be present to will try to stop you.

        You can move around using the arrow keys or QZSD. You can shoot using your
        mouse or pad by pointing in the direction you want.

        Registering gives you a chance to keep your logs and,
        if you feel creative, you can make your own map and play on it with your friends.

        Good luck!
    </p>
</div>