<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<title>Paradox</title>
		{{!-- <link
			rel="apple-touch-icon"
			sizes="180x180"
			href="Image/ICON/favicon_package_v0.16/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="Image/ICON/favicon_package_v0.16/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="Image/ICON/favicon_package_v0.16/favicon-16x16.png"
		/>
		<link
			rel="manifest"
			href="Image/ICON/favicon_package_v0.16/site.webmanifest"
		/>
		<link
			rel="mask-icon"
			href="Image/ICON/favicon_package_v0.16/safari-pinned-tab.svg"
			color="#5bbad5"
		/> --}}
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#ffffff" />
		<link rel="stylesheet" href="/styles/style.css" />
	</head>
	<body>
		<header>
			<nav>
				<div class="nav-left">
				<a href="/">HOME</a>
				<a href="/game">GAME</a>
				<a href="/hof">HOF</a>
				<a href="/instructions">INSTRUCTIONS</a>
				</div>
				<div class="nav-right">
				<a href="/user/userProfile">USER {{ user.username }}</a>
				<a href="/auth/signup">REGISTER</a>
        		<a href="/auth/login">LOG IN</a>
				<a href="/auth/logout">LOG OUT</a>
				</div>
			</nav>
		</header>
		<main>
			{{{body}}}
		</main>
	</body>
</html>
