@font-face {
  font-family: "jaapokkisubtractregularRg";
  src: url("/styles/src/jaapokkisubtract-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "jaapokkisubtractregularRg";
}


canvas {
  border: solid;
  border-radius: 10px;
}

body {
  /* background-color: rgb(36, 39, 41); */
  display: flex;
  flex-direction: column;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  background-repeat: no-repeat;
  background-size: contain;
  color: rgb(160, 16, 16);
  /* width: 100%;  */
  height: 100vh;
  padding: 0;
  margin: 0; 
}

/* title */

header {
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translate(-50%, -50%);
  color: rgb(160, 16, 16);
  font-size: 70px;
  letter-spacing: 8px;
}

header::before {
  content: "PARADOX";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0;
  z-index: -1;
  transition: 1s;
}

header::after {
  content: "PARADOX";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(
    135deg,
    transparent 0,
    transparent 2px,
    white 2px,
    white 4px
  );
  -webkit-background-clip: text;
  top: 0px;
  left: 0px;
  transition: 1s;
}

header:hover:before {
  top: 10px;
  left: 10px;
}

header:hover:after {
  top: -10px;
  left: -10px;
}

/* INSTRUCTIONS */

.parag {
  text-align: justify;
  line-height: 30px;
  font-size: 18px;
  color: white;
}

.red-instruction {
  font-size: 30px;
  line-height: 30px;
  margin-top: 1px;
  color: white;
  text-align: center;
}

.container {
  height: 510px;
  width: 350px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 56%;
  left: 50%;
  border-radius: 10px;
  background: #000;
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 40px;
}

br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}

.play {
  display: flex;
  justify-content: center;
  margin-top: 28px;
}

#button {
  background-color: white;
  border-radius: 10px;
  border-style: none;
}

.red {
  font-size: 22px;
  padding: 10px 50px;
  text-decoration: none;
  color: rgb(160, 16, 16);
  border-radius: 10px;
}

.userUpperCase {
  text-transform: uppercase;
}

h1 {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

h2 {
  margin-left: 18px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.hof {
  display: inline-block;
  box-sizing: border-box;
}

/* GAME */

.gamePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* background-image: url('/images/paradoxZ.png'); */
}
.game-groupe-top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px 0;
}
#start {
  border-radius: 19px;
  background: #2c3d4e;
  box-shadow: -7px 7px 13px #253442, 7px -7px 13px #33465a;
  position: absolute;
  top: 30%;
  left: 93.5%;
  padding: 20px;
  color: rgb(160, 16, 16);
  cursor: pointer;
}

#end {
  border-radius: 19px;
  background: #2c3d4e;
  box-shadow: -7px 7px 13px #253442, 7px -7px 13px #33465a;
  position: absolute;
  top: 50%;
  left: 94%;
  padding: 20px;
  color: rgb(160, 16, 16);
  cursor: pointer;
}

/* USER PAGE */

.user {
  height: 350px;
  width: 350px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  background: #000;
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 40px;
  color: white;
}

h4 {
  display: flex;
  justify-content: center;
}

#user-btn {
  font-size: 20px;
  border-radius: 19px;
  background: #2A3C4E;
  box-shadow:  -20px -20px 60px #243342,
               20px 20px 60px #30455a;
  position: absolute;
  top: 43%;
  left: 70%;
  padding: 20px;
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

#hof-btn1 {
  font-size: 20px;
  border-radius: 19px;
  background: #18212C;
  box-shadow:  -21px -21px 42px #141c25,
               21px 21px 42px #1c2633;
  position: absolute;
  top: 43%;
  right: 70.5%;
  padding: 20px;
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}


/* SIDE-BAR */

.wrapper {
  z-index: 1;
  position: fixed;
  top: 0;
  right: -110%;
  height: 100%;
  width: 15%;
  background: #000;
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
  transition: all 0.6s ease-in-out;
  transform: translateX(0);
  margin: 0;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

#active:checked ~ .wrapper {
  right: 0;
}
.menu-btn {
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after {
  content: "";
  position: absolute;
  top: calc(50% - 9px);
  left: 30%;
  width: 50%;
  border-bottom: 2.5px solid rgb(160, 16, 16);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before {
  transform: translateY(-8px);
}
.menu-btn:after {
  transform: translateY(8px);
}

.close {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: background 0.6s;
}

/* closing animation */
#active:checked + .menu-btn span {
  transform: scaleX(0);
}
#active:checked + .menu-btn:before {
  transform: rotate(45deg);
  border-color: #fff;
}
#active:checked + .menu-btn:after {
  transform: rotate(-45deg);
  border-color: #fff;
}
.wrapper ul {
  position: absolute;
  top: 55%;
  left: 50%;
  height: 80%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  padding: 50px;
}
.wrapper ul li {
  height: 10%;
  margin: 15px 0;
}
.wrapper ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.wrapper ul li a:hover:after {
  transform: scaleY(1);
}
.wrapper ul li a:hover {
  color: black;
}

input[type="checkbox"] {
  display: none;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}

/* login/signup */

.form-login {
  height: 350px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 40px;
}

.form-signup {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 40px;
}

.form-login *,
.form-signup * {
  font-family: "jaapokkisubtractregularRg";
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.form-login h3,
.form-signup h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  margin-top: 10px;
}

.label-login,
.label-signup {
  display: block;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: 500;
}
.input-login,
.input-signup {
  display: block;
  height: 50px;
  width: 97%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  margin-top: 8px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}

.color-label #color {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  color: #ffffff;
  border-radius: 3px;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}

.player-color {
  margin-top: 12px;
}

::placeholder {
  color: #e5e5e5;
}

.login-btn,
.signup-btn {
  margin-top: 42px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

/* RANKING */

/* table {
  border-radius: 10px;
  padding: 30px;
} */

table.HOF-table {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.13);
  border-collapse: collapse;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  color: #ffffff;
}

table.HOF-table td,
table.HOF-table th {
  border-width: 1px;
  border-color: #fafafa;
  border-style: solid;
  padding: 14px;
}

table.HOF-table thead {
  background-color: rgb(160, 16, 16);
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
/*
.image1 {
  margin-top: 150px;
  top: 0;
  left: 0;
  border: none;
  height: 350px;
  width: 350px;
  margin-left: 505px;
} */

.error {
  display: flex;
  justify-content: center;
  color: rgb(160, 16, 16);
  text-shadow: 2px 2px 2px #000000;
}


.table-cell-centered{
  text-align: center;
}

.table-container{
  height: 70vh;
  overflow-y: scroll;
  padding: 10px 10px;
}

#editorContainer,.editorButtons{
  text-align: center;
}

